body{
display: grid;
grid-template-areas: 'cabeca cabeca cabeca'
'braco corpo corpo'
'perna perna perna';
grid-template-rows: 200px auto 150px;
grid-template-columns: 200px auto auto;
}
header{
    grid-area: cabeca;
    background-color: darkorchid;

}
aside{
    grid-area: braco;
    background-color: darkslategrey;
}
main{
    grid-area: corpo;
    background-color: darkred;
}
footer{
    grid-area: perna;
    background-color: darkturquoise;
}
.img_card{
    width: 200px;
    height: auto;
}
.texto_card{
    color: crimson;
    font-size: auto;
}
.preco_card{
    color: darkseagreen;
    font-size: xx-large;
}
@media only screen and (max-width: 450px){
}
.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    border: blue 2px solid;
    background-color: black;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}